# --- GENERAL / IDE ---
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.idea/
*.iml
*.ipr
*.iws
.vscode/
#les fichiers temporaires de Windows que Git a essayé d'aspirer
NTUSER.DAT*
ntuser.dat*
*.regtrans-ms
*.blf

# --- FLUTTER / DART ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
/android/app/debug
/android/app/profile
/android/app/release
app.*.symbols
app.*.map.json

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
# fichier pour les dépendances
requirements.txt

# --- LARAVEL & BACKEND (Sécurité) ---
.env
.env.backup
.env.production
vendor/
node_modules/
public/storage
storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*

# --- FICHIERS MÉDIAS / DOCS ---
*.mp4
*.pdf
*.xlsx
*.docx